Updated reference for language tags (Trac #13)


```text
#!html
<p>
    RFC 1766, which is referenced by RFC 2616 section 3.10 as the source
    for its definition of language tags has a BNF has been updated
    by RFC3066 (a BCP).
</p>
<p>
    RFC 3066 defines these as:
</p>
<pre>
    Language-Tag = Primary-subtag *( "-" Subtag )
    Primary-subtag = 1*8ALPHA
    Subtag = 1*8(ALPHA / DIGIT)</pre>
<p>
    HTTP/1.1 RFC 2616 defines these as:
</p>
<pre>
    language-tag  = primary-tag *( "-" subtag )
    primary-tag   = 1*8ALPHA
    subtag        = 1*8ALPHA
</pre>
            
<p>In the meantime, RFC3066 has been obsoleted by RFC4646, and the original grammar production defining subtags seems to be gone:</p>
<pre>     
Language-Tag  = langtag
/ privateuse             ; private use tag
/ grandfathered          ; grandfathered registrations

langtag       = (language
["-" script]
["-" region]
*("-" variant)
*("-" extension)
["-" privateuse])

language      = (2*3ALPHA [ extlang ]) ; shortest ISO 639 code
/ 4ALPHA                 ; reserved for future use
/ 5*8ALPHA               ; registered language subtag

extlang       = *3("-" 3ALPHA)         ; reserved for future use

script        = 4ALPHA                 ; ISO 15924 code

region        = 2ALPHA                 ; ISO 3166 code
/ 3DIGIT                 ; UN M.49 code

variant       = 5*8alphanum            ; registered variants
/ (DIGIT 3alphanum)

extension     = singleton 1*("-" (2*8alphanum))

singleton     = %x41-57 / %x59-5A / %x61-77 / %x79-7A / DIGIT
; "a"-"w" / "y"-"z" / "A"-"W" / "Y"-"Z" / "0"-"9"
; Single letters: x/X is reserved for private use

privateuse    = ("x"/"X") 1*("-" (1*8alphanum))

grandfathered = 1*3ALPHA 1*2("-" (2*8alphanum))
; grandfathered registration
; Note: i is the only singleton
; that starts a grandfathered tag

alphanum      = (ALPHA / DIGIT)       ; letters and numbers
</pre>
                                                        
<p>So shouldn't RFC2616 (Section 3.10) stop defining these things, and just normatively refer to RFC4626 for the definition of "Language-Tag"?</p>
```

Migrated from https://trac.ietf.org/ticket/13
```json
{
    "status": "closed",
    "changetime": "2012-03-22T00:08:52",
    "_ts": "1332374932498506",
    "description": "{{{\n#!html\n<p>\n    RFC 1766, which is referenced by RFC 2616 section 3.10 as the source\n    for its definition of language tags has a BNF has been updated\n    by RFC3066 (a BCP).\n</p>\n<p>\n    RFC 3066 defines these as:\n</p>\n<pre>\n    Language-Tag = Primary-subtag *( \"-\" Subtag )\n    Primary-subtag = 1*8ALPHA\n    Subtag = 1*8(ALPHA / DIGIT)</pre>\n<p>\n    HTTP/1.1 RFC 2616 defines these as:\n</p>\n<pre>\n    language-tag  = primary-tag *( \"-\" subtag )\n    primary-tag   = 1*8ALPHA\n    subtag        = 1*8ALPHA\n</pre>\n            \n<p>In the meantime, RFC3066 has been obsoleted by RFC4646, and the original grammar production defining subtags seems to be gone:</p>\n<pre>     \nLanguage-Tag  = langtag\n/ privateuse             ; private use tag\n/ grandfathered          ; grandfathered registrations\n\nlangtag       = (language\n[\"-\" script]\n[\"-\" region]\n*(\"-\" variant)\n*(\"-\" extension)\n[\"-\" privateuse])\n\nlanguage      = (2*3ALPHA [ extlang ]) ; shortest ISO 639 code\n/ 4ALPHA                 ; reserved for future use\n/ 5*8ALPHA               ; registered language subtag\n\nextlang       = *3(\"-\" 3ALPHA)         ; reserved for future use\n\nscript        = 4ALPHA                 ; ISO 15924 code\n\nregion        = 2ALPHA                 ; ISO 3166 code\n/ 3DIGIT                 ; UN M.49 code\n\nvariant       = 5*8alphanum            ; registered variants\n/ (DIGIT 3alphanum)\n\nextension     = singleton 1*(\"-\" (2*8alphanum))\n\nsingleton     = %x41-57 / %x59-5A / %x61-77 / %x79-7A / DIGIT\n; \"a\"-\"w\" / \"y\"-\"z\" / \"A\"-\"W\" / \"Y\"-\"Z\" / \"0\"-\"9\"\n; Single letters: x/X is reserved for private use\n\nprivateuse    = (\"x\"/\"X\") 1*(\"-\" (1*8alphanum))\n\ngrandfathered = 1*3ALPHA 1*2(\"-\" (2*8alphanum))\n; grandfathered registration\n; Note: i is the only singleton\n; that starts a grandfathered tag\n\nalphanum      = (ALPHA / DIGIT)       ; letters and numbers\n</pre>\n                                                        \n<p>So shouldn't RFC2616 (Section 3.10) stop defining these things, and just normatively refer to RFC4626 for the definition of \"Language-Tag\"?</p>\n}}}",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-19T23:54:42",
    "component": "p3-payload",
    "summary": "Updated reference for language tags",
    "priority": "urgent",
    "keywords": "",
    "milestone": "08",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Active WG Document"
}
```


Trac update at 20071222T00:35:03: fielding@gbiv.com changed version from "" to "00"

Trac update at 20071222T04:12:43: mnot@pobox.com changed version from "00" to "d00"

Trac update at 20071222T04:16:27: mnot@pobox.com changed milestone from "" to "01"

Trac update at 20080104T06:22:35: 
* mnot@pobox.com changed component from "" to "messaging"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080105T03:10:36: 
* fielding@gbiv.com commented:

> postpone until ABNF update.
> 


* fielding@gbiv.com changed milestone from "01" to "02"

Trac update at 20080228T05:24:11: mnot@pobox.com changed milestone from "02" to "03"

Trac update at 20080411T14:21:09: 
* julian.reschke@gmx.de changed component from "p1-messaging" to "p3-payload"
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"

Trac update at 20080415T11:34:00: 
* julian.reschke@gmx.de changed attachment from "" to "i13.diff"
* julian.reschke@gmx.de commented:

> Proposed change.



Trac update at 20080416T13:15:15: 
* julian.reschke@gmx.de changed attachment from "" to "i13.2.diff"
* julian.reschke@gmx.de commented:

> Proposed change.



Trac update at 20080717T14:23:17: julian.reschke@gmx.de changed milestone from "03" to "04"

Trac update at 20080829T08:44:33: julian.reschke@gmx.de changed milestone from "04" to "unassigned"

Trac update at 20081026T12:37:08: julian.reschke@gmx.de commented:

> Proposal: delay until RFC4646bis is published (see http://tools.ietf.org/html/draft-ietf-ltru-4646bis-17)



Trac update at 20090324T15:51:38: julian.reschke@gmx.de commented:

> draft-ietf-ltru-4646bis is now in state Publication Requested (https://datatracker.ietf.org/idtracker/draft-ietf-ltru-4646bis/)



Trac update at 20090718T10:41:50: julian.reschke@gmx.de commented:

> draft-ietf-ltru-4646bis has been approved and now is in the RFC Editor's publication queue: http://www.rfc-editor.org/queue.html#draft-ietf-ltru-4646bis



Trac update at 20090718T11:19:01: 
* julian.reschke@gmx.de changed attachment from "" to "i13.3.diff"
* julian.reschke@gmx.de commented:

> Proposed patch updated so it can be applied to current draft



Trac update at 20090718T11:42:27: 
* julian.reschke@gmx.de changed attachment from "" to "i13.4.diff"
* julian.reschke@gmx.de commented:

> Proposed patch updated to refer to RFC4646bis



Trac update at 20090718T12:14:32: julian.reschke@gmx.de changed milestone from "unassigned" to "08"

Trac update at 20090719T13:10:25: 
* julian.reschke@gmx.de commented:

> Fixed in [613]:
> 
> Resolve #13: refer to RFC4646bis for language tag definition (closes #13)


* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20090719T13:10:47: 
* julian.reschke@gmx.de changed resolution from "fixed" to ""
* julian.reschke@gmx.de changed status from "closed" to "reopened"

Trac update at 20090729T09:34:57: mnot@pobox.com changed priority from "" to "urgent"

Trac update at 20090905T11:39:09: julian.reschke@gmx.de commented:

> From [690]:
> 
> draft-ietf-ltru-4646bis-23 has been published as RFC5646 (see #13) 



Trac update at 20091009T12:06:54: 
* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed severity from "" to "Candidate WG Document"
* julian.reschke@gmx.de changed status from "reopened" to "closed"

Trac update at 20120322T00:08:52: mnot@pobox.com changed severity from "Candidate WG Document" to "Active WG Document"