Encoding References Normative (Trac #68)

Classify RFC1950 (ZLIB), RFC1951 (DEFLATE) and RFC1952 (GZIP) as normative (note this disagrees with draft-gettys-http-v11-spec-rev-00 which made it informative).

Migrated from https://trac.ietf.org/ticket/68
```json
{
    "status": "closed",
    "changetime": "2008-07-12T10:20:11",
    "_ts": "1215858011000000",
    "description": "Classify RFC1950 (ZLIB), RFC1951 (DEFLATE) and RFC1952 (GZIP) as normative (note this disagrees with draft-gettys-http-v11-spec-rev-00 which made it informative).",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T02:55:35",
    "component": "p3-payload",
    "summary": "Encoding References Normative",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20071231T17:19:24: 
* julian.reschke@gmx.de changed component from "" to "payload"
* julian.reschke@gmx.de changed milestone from "" to "01"
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"

Trac update at 20071231T17:30:33: 
* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20080101T14:59:15: julian.reschke@gmx.de commented:

> Fixed in [122]



Trac update at 20080712T10:20:11: julian.reschke@gmx.de commented:

> From [277]:
> 
> Rephrase RFC1950-52 downref annotations, reference BCP97 (related to #68) 

