IESG ballot on draft-ietf-httpbis-authscheme-registrations-09 (Trac #530)

Migrated from https://trac.ietf.org/ticket/530
```json
{
    "status": "closed",
    "changetime": "2013-12-20T08:09:37",
    "_ts": "1387526977888997",
    "description": "Benoit Claise\n\nComment (2013-12-18)\n\nNo sure yet at this point if this a COMMENT or DISCUSS. I'm waiting for the\ndiscussion.\n\nCut and paste from Sue Hares, OPS-DIR reviewer:\nI am reviewing the following document: Susan Hares T 2013-12-17\ndraft-ietf-httpbis-authscheme-registrations-09\n\nBut the IESG write-up states the following should reviewed together:\n\n* draft-ietf-httpbis-p1-messaging\n\n* draft-ietf-httpbis-p2-semantics\n\n* draft-ietf-httpbis-p4-conditional\n\n* draft-ietf-httpbis-p5-range\n\n* draft-ietf-httpbis-p6-cache\n\n* draft-ietf-httpbis-p7-auth (Peter Schoenmaker Ops-Dir reviewer)\n\n* draft-ietf-httpbis-method-registrations (Michael Sneed, Ops-dir\n\n* draft-ietf-httpbis-authscheme-registrations (Sue Hares Reviewer)\n\nI am concerned about the breaking of the review of\nhttpbis-authscheme-registrations away From the draft-ietf-httpbis-p7-auth and\nthe draft-ietf-httpbis-method-registrations.  I have read all three drafts.\n\nSo this is addressed to the reviewers of the httpbis documents for this week\n\nNiclas Comstedt        T 2013-12-17 draft-ietf-httpbis-p1-messaging-25\n\nMenachem Dodge         T 2013-12-17 draft-ietf-httpbis-p5-range-25\n\nLionel Morand          T 2013-12-17 draft-ietf-httpbis-p6-cache-25\n\nSarah Banks            T 2013-12-17 draft-ietf-httpbis-p2-semantics-25\n\nPeter Schoenmaker      T 2013-12-17 draft-ietf-httpbis-p7-auth-25\n\nMichael Sneed          T 2013-12-17 draft-ietf-httpbis-method-registrations-14\n\nSusan Hares            T 2013-12-17\ndraft-ietf-httpbis-authscheme-registrations-09\n\nReview of the draft-ietf-httpbis-authscheme-registrations\n\nThis document: Not ready.\n\nWhy not ready:  It is just really unclear exactly what IANA is putting in\n<http://www.iana.org/assignments/http-authschemes>\n\nHere\u2019s my guess:  I think that  IANA is simply giving the following as\npotential WWW-Authenticate RFC values\n\nWWW-Authenticate: [Basic]|[Bearer] |\n\n                  [Digest] |[Negotiate]| [OAuth]\n\nWhat\u2019s the problem with reviewing just this document: Reviewing just this\ndocument is like tracing the validity of a string path that enters a wad of\nstrings and exits it.  Without looking at the whole scheme, you cannot tell if\nthis is reason.\n\nI have reviewed the specification reference in\ndraft-ietf-httpbis-authscheme-registrations.\n\n1)       Basic: RFC 2617: section 2 (nothing)\n\n2)       Bearer: RFC 6750: bearers\n\nBearer authentication have 3 different bearer authentication schemes but no\nlogging of which is used.  The errors (due to HTTP errors reporting) seem to\nmerge several errors into the same error codes). Since this is an approved RFC,\n why does IANA have error codes for the different Bearer schemes?\n\nWhat level of this work is \u201cjust encode\u201d and what level is updated to the\nlatest in security handshaking schemes?  Should this be compared against the\nOASIS work to secure portions of the information? That is \u2013 authenticate who\ncan have this piece of data using my HTTTP.\n\n3)       Digest: RFC 2617:  Digest \u2013 Even for routing protocols (sometimes\ncalled security light) the digests have been considered weak.  What exactly the\nauthor is trying to suggest needs to be included in the registry is not clear.\n\n4)       Negotiate: RFC 54559: Section 3: The author indicates that this breaks\nsyntax by mixing Kerberos (connection-oriented) and expanding the syntax\n(Authenticate/Authorization) by not including the Kerberos gssapi-data in the\ninitial WWW-Authenticate header.\n\nIt is entirely unclearly why this kludge in limited use is any more a kludge\nthan the rest of the system.   The comment on non-context specific ignores the\npassword/user digest issues of deployment\n\nIt is not clear why this needs to be noted in the IANA registration.\n\n5)       OAuth: RFC5849: Section 3.5.1\n\nAuthorization: OAuth realm=\"Example\",\n\n        oauth_consumer_key=\"0685bd9184jfhq22\",\n\n        oauth_token=\"ad180jjd733klru7\",\n\n        oauth_signature_method=\"HMAC-SHA1\",\n\n        oauth_signature=\"wOJIO9A2W5mFwDgiDvZbTSMK%2FPY%3D\",\n\n        oauth_timestamp=\"137131200\",\n\n        oauth_nonce=\"4572616e48616d6d65724c61686176\",\n\n        oauth_version=\"1.0\"\n\nI have confirmed that referenced documents in  do reference these documents and\nhave comments. However, unless I look at the wider context of these documents,\nI do not know if the IANA work is complete.\n\nWhat bothers me in the macro-view:\n\nHowever, I would like to comment on the protected space concept (Realm) and\nproxy-authenticate in the draft-ietf-httpbis-p4-auth. The practical\nimplementation is impacted by the new world of VMs and shared information.\n\nRespectfully, but\n\nSue Hares\n\n''answered in http://www.ietf.org/mail-archive/web/ops-dir/current/msg00065.html''\n\n\n----\n\nSean Turner\n\nComment (2013-12-18)\n\nI might have said the following in addition to no security considerations:\n\nSecurity considerations for each method are described in the referenced RFC.\n\n'' see [2515] ''\n\n----\n\nStephen Farrell\n\nComment (2013-12-19)\n\nnitty nit nit: suggest s/defined in standards-track\nRFCs/defined in RFCs/ might be better - reading this\nI got a scare for a second that that registry might\nrequire standards-track but it doesn't, its IETF\nreview.\n\n'' see [2515] ''\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "incorporated",
    "time": "2013-12-20T07:46:42",
    "component": "non-specific",
    "summary": "IESG ballot on draft-ietf-httpbis-authscheme-registrations-09",
    "priority": "normal",
    "keywords": "",
    "milestone": "26",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "In IESG Evaluation"
}
```
