moving 2616/2068/2145 to historic (Trac #544)

Migrated from https://trac.ietf.org/ticket/544
```json
{
    "status": "closed",
    "changetime": "2014-01-03T15:13:50",
    "_ts": "1388762030817275",
    "description": "    This HTTP/1.1 specification obsoletes and moves to historic status RFC 2616, its predecessor RFC 2068, and RFC 2145 (on HTTP versioning).\n\nPlease, no, it doesn't (and shouldn't) move any of these documents to Historic (even if it were capitalized correctly ;-) ). It obsoletes them. Please strike \"and moves to historic status\". (I'm happy to give you the long explanation of why moving to Historic is not the right thing if you like.) ",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "incorporated",
    "time": "2014-01-02T08:23:15",
    "component": "p1-messaging",
    "summary": "moving 2616/2068/2145 to historic",
    "priority": "normal",
    "keywords": "",
    "milestone": "26",
    "owner": "draft-ietf-httpbis-p1-messaging@tools.ietf.org",
    "type": "editorial",
    "severity": "In IESG Evaluation"
}
```
