Redundant cross-references (Trac #84)

RFC 2616 sections 9.5 (POST) and 9.6 (PUT) have the following useless waste of bits.

  POST requests MUST obey the message transmission requirements set out in section 8.2.

  See section 15.1.3 for security considerations.

and

  PUT requests MUST obey the message transmission requirements set out in section 8.2.

respectively. They can be safely deleted without changing HTTP.

Section 8.2 is not specific to PUT and POST. Likewise, a content-free forward pointer to just one of the many subsections on security consideration is a total waste of brain cells.

Those are just two examples of what can only be described as a spaghetti style of content-free cross-references within the spec that make it very hard to read.  They should be removed in general at the editors' discretion.

Migrated from https://trac.ietf.org/ticket/84
```json
{
    "status": "closed",
    "changetime": "2008-01-01T14:56:55",
    "_ts": "1199199415000000",
    "description": "RFC 2616 sections 9.5 (POST) and 9.6 (PUT) have the following useless waste of bits.\n\n  POST requests MUST obey the message transmission requirements set out in section 8.2.\n\n  See section 15.1.3 for security considerations.\n\nand\n\n  PUT requests MUST obey the message transmission requirements set out in section 8.2.\n\nrespectively. They can be safely deleted without changing HTTP.\n\nSection 8.2 is not specific to PUT and POST. Likewise, a content-free forward pointer to just one of the many subsections on security consideration is a total waste of brain cells.\n\nThose are just two examples of what can only be described as a spaghetti style of content-free cross-references within the spec that make it very hard to read.  They should be removed in general at the editors' discretion.",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T03:41:05",
    "component": "p2-semantics",
    "summary": "Redundant cross-references",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20080101T14:09:29: 
* julian.reschke@gmx.de changed component from "" to "semantics"
* julian.reschke@gmx.de changed milestone from "" to "01"
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"

Trac update at 20080101T14:15:07: 
* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20080101T14:56:55: julian.reschke@gmx.de commented:

> Fixed in [130].

