Language-tag vs. language-range (Trac #456)

Migrated from https://trac.ietf.org/ticket/456
```json
{
    "status": "closed",
    "changetime": "2013-07-29T19:54:44",
    "_ts": "1375127684342359",
    "description": "http://tools.ietf.org/html/draft-ietf-httpbis-p2-semantics-22#section-3.1.3.1 says:\n\n    HTTP uses language tags within the Accept-Language and Content-Language fields.\n\n    language-tag = <Language-Tag, defined in [RFC5646], Section 2.1>\n\n    Section 3.1.3.1 defines a language tag by reference to RFC5646 section 2.1.\n\nPer http://tools.ietf.org/html/draft-ietf-httpbis-p2-semantics-22#section-5.3.5 the Accept-Language header, however, uses a language-range not a language-tag:\n\n    Accept-Language = 1#( language-range [ weight ] )\n    language-range  =\n               <language-range, defined in [RFC4647], Section 2.1>\n\nNote the different reference, and following that reference we find the explicit statement that:\n\n    A basic language range differs from the language tags defined in\n    [RFC4646] only in that there is no requirement that it be \"well-\n    formed\" or be validated against the IANA Language Subtag Registry.\n\nAnd of course RFC5646 obsoletes RFC4646 but doesn't change the relevant ABNF.\n\nSo the Accept-Language tag does not use the language-tag production, it uses the looser language-range definition).\n\nThe text in section 3.1.3.1 is confusing because it can be misread to imply that Accept-Language uses the language-tag production.\n\nSuggest:\n\n    HTTP uses language tags within the Accept-Language and Content-Language fields.\n    The Accept-Language field uses the looser language-range production defined in Section 5.2.5,\n    whereas the Content-Language field uses the stricter language-tag production defined below.\n\n    language-tag = <Language-Tag, defined in [RFC5646], Section 2.1>",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "incorporated",
    "time": "2013-04-22T04:10:44",
    "component": "p2-semantics",
    "summary": "Language-tag vs. language-range",
    "priority": "normal",
    "keywords": "",
    "milestone": "23",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "In WG Last Call"
}
```
