consider removing the "changes from 2068" sections (Trac #220)

Migrated from https://trac.ietf.org/ticket/220
```json
{
    "status": "closed",
    "changetime": "2010-09-02T05:21:46",
    "_ts": "1283404906000000",
    "description": "As the individual parts progress, it's getting harder to maintain this information (paragraphs move or are removed completely).\n\nIt would be much simpler to either drop these paragraphs (they are present in 2616, after all), or by just replacing them with a reference to RFC 2616, Section 19.6.3).\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2010-07-21T14:21:15",
    "component": "non-specific",
    "summary": "consider removing the \"changes from 2068\" sections",
    "priority": "normal",
    "keywords": "",
    "milestone": "11",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Active WG Document"
}
```
