APPSDIR review of draft-ietf-httpbis-p5-range-24 (Trac #506)

Migrated from https://trac.ietf.org/ticket/506
```json
{
    "status": "closed",
    "changetime": "2013-11-04T22:15:02",
    "_ts": "1383603302475050",
    "description": "Major Issues:\n\n----\n\n~~In Section 2.3:~~\n\n   ~~'The \"Accept-Ranges\" header field allows a server to indicate that it supports range requests for the target resource.'~~\n\n~~There isn't any recommendation or requirement for the server to send \n\"Accept-Ranges: bytes\"; it's a RFC 2119 \"may\".  It seems better if \nthere is a recommendation for the server to advertise the feature if \nthe server supports it.  There is the following text in Section 3.1:~~\n\n   ~~\"A server MAY ignore the Range header field.  However, origin servers and intermediate caches ought to support byte ranges when possible, since Range supports efficient recovery from partially failed transfers and partial retrieval of large representations.\"~~\n\n~~My understanding of the above is that the server can ignore the Range \nheader field but it is politely recommended that origin servers and \nintermediate caches support it.  This looks like a workaround to \navoid introducing a RFC 2119 \"should\".  The text explains why it is \nworthwhile to support byte ranges while the Introduction sections \nstates that this feature is optional.~~ - see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/0384.html\n\n----\n\n~~In Section 3.2:~~\n\n~~\"HTTP-date\" is defined in the Appendix C.  I suggest importing the \nrules should be in Section 1.2.~~ - see #505\n\n----\n\n~~In Section 2.1:~~\n\n    ~~\"Other valid (but not canonical) specifications of the second 500 bytes (byte offsets 500-999, inclusive):~~\n\n         ~~bytes=500-600,601-999\n         bytes=500-700,601-999\"~~\n\n~~And Section 3.1:~~\n\n   ~~\"A client that is requesting multiple ranges SHOULD list those ranges in ascending order (the order in which they would typically be received in a complete representation) unless there is a specific need to request a later part earlier.\"~~\n\n~~I am trying to understand what the server should do when it receives \none or several overlapping ranges.~~ - see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/0384.html\n\n----\n\n~~In Section 4.1:~~\n\n  ~~\"If multiple parts are being transferred, the server generating the 206 response MUST generate a \"multipart/byteranges\" payload, as defined in Appendix A\"~~\n\n~~It is unusual to have a RFC 2119 requirement defined in an appendix.~~ - see #505\n\n----\n\n   ~~\"If the selected representation would have had a Content-Type header field in a 200 (OK) response, the server SHOULD generate that same Content-Type field in the header area of each body part.\"~~\n\n~~I don't understand why the RFC 2119 \"should\" is used in the \nabove.  When can the \"should\" be ignored?  Is the server supposed to \ngenerate the same Content-Type header field in each header area if \nthe selected representation would have a Content-Type header field \nfor a 200 (OK) response?~~\n\n   ~~\"When a multipart response payload is generated, the server SHOULD send the parts in the same order that the corresponding byte-range-spec appeared in the received Range header field, excluding those ranges that were deemed unsatisfiable or that were coalesced into other ranges.\"~~\n\n~~It is recommended in the Section 3.1 that the client lists the ranges \nit requests in ascending order.  The above text recommends that the \nserver should send the parts in the same order as the request.  There \ncan be an interoperability issue when the two sides are told to do \nRFC 2119 \"should\".~~ - see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/0384.html\n\n----\n\n~~In Appendix A:~~\n\n   ~~\"The following definition is to be registered with IANA [BCP13].\"~~\n\n~~The request to IANA should be in the IANA Considerations section.~~ - [2441]\n\n----\n\nMinor Issues:\n\n----\n\n~~In Section 1:~~\n\n   ~~\"Range requests are an OPTIONAL feature of HTTP, designed so that recipients not implementing this feature (or not supporting it for the target resource) can respond as if it is a normal GET request without impacting interoperability.\"~~\n\n~~As the word \"OPTIONAL\" in the above is not interpreted according to \nRFC 2119 I suggest using plain English instead of a word in uppercase.~~ - see #515\n\n----\n\n~~In Section 2.1:~~\n\n   ~~\"In the byte range syntax, first-byte-pos, last-byte-pos, and suffix-length are expressed as decimal number of octets.  Since there is no predefined limit to the length of a payload, recipients ought to anticipate potentially large decimal numerals and prevent parsing errors due to integer conversion overflows.\"~~\n\n~~There is a RFC 2119 \"should\" in Section 3.3.2 of \ndraft-ietf-httpbis-p1-messaging-24 about integer conversion and a \nreference to Section 9.3 of that draft.  I may have missed integer \nconversation issues in the reviews.  I suggest doing a verification \nto verify that there is adequate text where it is applicable.~~ - see #507\n\n----\n\nNits:\n\n----\n\n~~In Section 2.2:~~\n\n   ~~\"Range units are intended to be extensible.\"~~\n\n~~Section 3.12 of RFC 2616 states that:~~\n\n   ~~\"The only range unit defined by HTTP/1.1 is \"bytes\".  HTTP/1.1 implementations MAY ignore ranges specified using other units. HTTP/1.1 has been designed to allow implementations of applications that do not depend on knowledge of ranges.\"~~\n\n~~I consider the creation of the registry as \"it does not cost anything \nto add one more registry\".  The text from RFC 2616 suggests that the \nonly unit specified is \"bytes\" and that HTTP/1.1 does not depend upon \nthe knowledge of this optional feature.  I don't see any reason to \nhave other range units.~~ - see #85 and reply in http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/0383.html\n\n----\n\n~~In Section 2.3:~~\n\n   ~~\"A server that does not support any kind of range request for the target resource resource MAY send\"~~\n\n~~The word \"resource\" is duplicated.~~ - see [2438]\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "incorporated",
    "time": "2013-10-29T12:28:21",
    "component": "p5-range",
    "summary": "APPSDIR review of draft-ietf-httpbis-p5-range-24",
    "priority": "normal",
    "keywords": "",
    "milestone": "25",
    "owner": "draft-ietf-httpbis-p5-range@tools.ietf.org",
    "type": "design",
    "severity": "In IETF LC"
}
```
