Normative up-to-date references (Trac #86)

The references below are normative and should be classified as such. None of them needs updating:

 * RFC1864 ("The Content-MD5 Header Field")
 * RFC2045 ("Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies")
 * RFC2046 ("Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types")
 * RFC2047 ("MIME (Multipurpose Internet Mail Extensions) Part Three: Message Header Extensions for Non-ASCII Text")
 * RFC2119 ("Key words for use in RFCs to Indicate Requirement Levels")
 * RFC2617 ("HTTP Authentication: Basic and Digest Access Authentication")

Migrated from https://trac.ietf.org/ticket/86
```json
{
    "status": "closed",
    "changetime": "2012-03-22T00:02:58",
    "_ts": "1332374578597661",
    "description": "The references below are normative and should be classified as such. None of them needs updating:\n\n * RFC1864 (\"The Content-MD5 Header Field\")\n * RFC2045 (\"Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies\")\n * RFC2046 (\"Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types\")\n * RFC2047 (\"MIME (Multipurpose Internet Mail Extensions) Part Three: Message Header Extensions for Non-ASCII Text\")\n * RFC2119 (\"Key words for use in RFCs to Indicate Requirement Levels\")\n * RFC2617 (\"HTTP Authentication: Basic and Digest Access Authentication\")",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T03:43:24",
    "component": "non-specific",
    "summary": "Normative up-to-date references",
    "priority": "normal",
    "keywords": "",
    "milestone": "01",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Active WG Document"
}
```


Trac update at 20080101T14:15:49: 
* julian.reschke@gmx.de changed component from "" to "non-specific"
* julian.reschke@gmx.de changed milestone from "" to "01"
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"

Trac update at 20080101T15:01:40: 
* julian.reschke@gmx.de commented:

> Fixed in [131]


* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20120322T00:02:58: 
* mnot@pobox.com changed priority from "" to "normal"
* mnot@pobox.com changed severity from "" to "Active WG Document"