Bodies on GET (and other) requests (Trac #19)

Is a request body allowed on GET? Other requests?

Migrated from https://trac.ietf.org/ticket/19
```json
{
    "status": "closed",
    "changetime": "2012-11-29T03:56:27",
    "_ts": "1354161387038002",
    "description": "Is a request body allowed on GET? Other requests?",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-20T03:12:56",
    "component": "p1-messaging",
    "summary": "Bodies on GET (and other) requests",
    "priority": "normal",
    "keywords": "",
    "milestone": "02",
    "owner": "",
    "type": "design",
    "severity": "Active WG Document"
}
```


Trac update at 20071222T04:13:59: mnot@pobox.com changed version from "" to "d00"

Trac update at 20071222T04:19:18: 
* mnot@pobox.com changed component from "" to "semantics"
* mnot@pobox.com changed milestone from "" to "01"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20071222T04:22:14: mnot@pobox.com changed milestone from "01" to ""

Trac update at 20080104T05:59:04: mnot@pobox.com changed milestone from "" to "unassigned"

Trac update at 20080122T12:03:36: 
* mnot@pobox.com commented:

> Consensus to, in RFC2616 section 4.3:
> 
>  * Change "does not allow" to "explicitly disallows", as per http://www.w3.org/mid/64972E13-483B-4F69-94FD-F2EE516286A8@mnot.net
>  * Replace the last sentence with:
> 
>   When a request message contains both a message-body of non-zero length and a method that  
>   does not define any semantics for that request message-body, then an  
>   origin server SHOULD either ignore the message-body or respond with  
>   an appropriate error message (e.g., 413).  A proxy or gateway, when  
>   presented the same request, SHOULD either forward the request inbound  
>   with the message-body or ignore the message-body when determining a  
>   response.
> 
> as per http://www.w3.org/mid/9C43F5AB-C3D7-4584-8F12-A9F459D3817F@gbiv.com
> 
> 
> 


* mnot@pobox.com changed milestone from "unassigned" to "02"

Trac update at 20080122T12:23:59: 
* julian.reschke@gmx.de commented:

> Fixed in [171].
> 


* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20121129T03:56:27: 
* mnot@pobox.com changed component from "p2-semantics" to "p1-messaging"
* mnot@pobox.com changed priority from "" to "normal"
* mnot@pobox.com changed severity from "" to "Active WG Document"