Empty Host Headers - BNF (Trac #92)

The specification states "If the requested URI does not include an
Internet host name for the service being requested, then the Host header
field MUST be given with an empty value" but the grammar does not seem
to allow this.

```            
Host = "Host" ":" host [ ":" port ] ; Section 3.2.2
```

should be changed into


```text
Host = "Host" ":" [ host [ ":" port ] ] ; Section 3.2.2
}}

Migrated from https://trac.ietf.org/ticket/92
```json
{
    "status": "closed",
    "changetime": "2008-01-08T03:38:00",
    "_ts": "1199763480000000",
    "description": "The specification states \"If the requested URI does not include an\nInternet host name for the service being requested, then the Host header\nfield MUST be given with an empty value\" but the grammar does not seem\nto allow this.\n\n{{{            \nHost = \"Host\" \":\" host [ \":\" port ] ; Section 3.2.2\n}}}\n\nshould be changed into\n\n{{{\nHost = \"Host\" \":\" [ host [ \":\" port ] ] ; Section 3.2.2\n}}",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "invalid",
    "time": "2007-12-22T03:52:44",
    "component": "p1-messaging",
    "summary": "Empty Host Headers - BNF",
    "priority": "",
    "keywords": "",
    "milestone": "unassigned",
    "owner": "",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20080104T06:01:46: 
* mnot@pobox.com changed component from "" to "auth"
* mnot@pobox.com changed milestone from "" to "unassigned"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080104T06:24:51: 
* mnot@pobox.com changed component from "auth" to "messaging"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080105T01:48:20: 
* fielding@gbiv.com commented:

> host, as defined by RFC 3986, can be empty.  (see reg-name production)
> 


* fielding@gbiv.com changed resolution from "" to "invalid"
* fielding@gbiv.com changed status from "new" to "closed"

Trac update at 20080105T08:49:38: julian.reschke@gmx.de commented:

> So... assuming we replaced RFC2396's host with RCF3986's host, the 
> following would become legal:
> 
>    Host: :81
> 
> Bug or feature?
> 
> (old thread: <http://lists.w3.org/Archives/Public/ietf-http-wg/2007OctDec/thread.html#msg229>)



Trac update at 20080108T01:20:35: fielding@gbiv.com commented:

> Feature.  The field must contain whatever the URI contains,
> so limiting it syntactically would assume we control URIs.
> 



Trac update at 20080108T01:27:22: mnot@pobox.com commented:

> It would be interesting to see if that form breaks any servers today; it's not exactly obvious.
> 
> Should this be called out explicitly in the spec (e.g., with an example)?
> 



Trac update at 20080108T03:38:00: fielding@gbiv.com commented:

> Note RFC3986, section 6.2.3:
> 
>    Another case where normalization varies by scheme is in the handling
>    of an empty authority component or empty host subcomponent.  For many
>    scheme specifications, an empty authority or host is considered an
>    error; for others, it is considered equivalent to "localhost" or the
>    end-user's host.  When a scheme defines a default for authority and a
>    URI reference to that default is desired, the reference should be
>    normalized to an empty authority for the sake of uniformity, brevity,
>    and internationalization.  If, however, either the userinfo or port
>    subcomponents are non-empty, then the host should be given explicitly
>    even if it matches the default.
> 
> In other words, part 1 needs to define an empty host is an error
> for the http and https schemes.
> 
> In any case, servers that break based on any network input, valid or not,
> are broken.
> 

