add OAuth auth scheme to initial registry contents (Trac #382)

Migrated from https://trac.ietf.org/ticket/382
```json
{
    "status": "closed",
    "changetime": "2012-09-06T12:36:08",
    "_ts": "1346934968813580",
    "description": "\"I note that the OAuth authentication scheme is not listed. \"OAuth\" is \ndefined in RFC 5849, section 3.5.1.\n\nSee http://tools.ietf.org/html/rfc5849#section-3.5.1 for a full \ndescription of the authentication scheme.\"",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "incorporated",
    "time": "2012-09-06T08:59:18",
    "component": "authscheme-registrations",
    "summary": "add OAuth auth scheme to initial registry contents",
    "priority": "normal",
    "keywords": "",
    "milestone": "unassigned",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Active WG Document"
}
```
