update note citing RFC 1945 and 2068 (Trac #140)

Migrated from https://trac.ietf.org/ticket/140
```json
{
    "status": "closed",
    "changetime": "2012-03-22T00:08:16",
    "_ts": "1332374896289052",
    "description": "Part2 notes about status 302:\n\n\"Note: [RFC1945] and [RFC2068] specify that the client is not allowed to change the method on the redirected request. However, most existing user agent implementations treat 302 as if it were a 303 response, performing a GET on the Location field-value regardless of the original request method. The status codes 303 and 307 have been added for servers that wish to make unambiguously clear which kind of reaction is expected of the client.\"\n\nThis needs to be rephrased in terms of RFC2616 instead of RFC2068 (I think).",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2008-11-21T21:07:58",
    "component": "p2-semantics",
    "summary": "update note citing RFC 1945 and 2068",
    "priority": "normal",
    "keywords": "",
    "milestone": "08",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Active WG Document"
}
```
