Gen-ART Last Call review draft-ietf-httpbis-p1-messaging-25 (Trac #523)

Migrated from https://trac.ietf.org/ticket/523
```json
{
    "status": "closed",
    "changetime": "2014-01-04T04:55:15",
    "_ts": "1388811315194078",
    "description": "Document: draft-ietf-httpbis-p1-messaging-25\n\nReviewer: Meral Shirazipour\n\nReview Date: 2013-11-18/2013-12-02\n\nIETF LC End Date: End of November (special deadline)\n\nIESG Telechat date: 2013-12-19\n\n \n\n \n\n \n\nMinor issues:\n\n---- \n\n~~ -General comment 1, I am not very keen with the idea of splitting the http standard in so many RFCs. It is hard to follow and the protocol is not complex enough to justify these lengthy documents. I would have rather see 1 concise standard RFC and few Extension RFCs, Informational or BCP RFCs. RFC2616 was ~176 pages, looking at Appendix B of the draft for changes since RFC2616, makes me wonder why so much extra text was required (~300 pages).~~ see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1668.html\n\n----\n\nConstructive comment:\n\n                -Perhaps in part 1 give a suggestion on how to use/read these documents (RFCs). Could any of them be skipped at first for a simple implementation?\n\n                I think it is worthwhile spending minimum 2-3 pages to summarize the various documents (Parts) and suggest how to use them best.\n\n                -Most people use www on a daily basis, some of the concepts could be better explained with every day experienced examples rather than abstract explanation.\n\n---- \n\n~~General comment 2, throughout the text there is mention of security risks yet this is not a complete list for security issues in http.~~\n\n~~It would be beneficial to also have a separate document for all security risks to be considered by server and client implementors.~~ - see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1663.html\n\n \n\n \n\nNits/editorial comments:\n\n----\n\n~~[Page 5] in the intro, right after it says \"This HTTP/1.1 specification obsoletes and moves to historic status RFC 2616....\", it would help to add a reference to Appendix B and mention this is where the differences with RFC2616 is listed.~~ see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~[Page 5,6], Section 1, this statement is not clear. Are we talking about one HTTP transaction changing info on the server/data base?~~\n\n   ~~\"If the communication is considered in isolation, then successful actions ought to be reflected in corresponding changes to the observable interface provided by servers.  However, since multiple clients might act in parallel and perhaps at cross-purposes, we cannot require that such changes be observable beyond the scope of a single response.~~\n\n   ~~This document describes the architectural elements that are used or referred to in HTTP, defines the \"http\" and \"https\" URI schemes, describes overall network operation and connection management, and defines HTTP message framing and forwarding requirements.  Our goal is to define all of the mechanisms necessary for HTTP message handling that are independent of message semantics, thereby defining the complete set of requirements for message parsers and message-forwarding intermediaries.\"~~ - see http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~[Page 11], Section 2.3, \"Instead, an interception proxy filters or redirects outgoing TCP port 80 packets (and occasionally other common port traffic).\"~~\n\n~~Not sure if \"occasionally other common port traffic\" means port 443?~~\n\n~~If not, for sake of completeness, we could say : \"redirects outgoing TCP ports 80 and 443 packets\".~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n---- \n\n~~[Page 12], Section 2.5 not clear what is meant by (social) requirements. An example may clarify:~~\n\n   ~~\"Additional (social) requirements are placed on implementations, resource owners, and protocol element registrations when they apply beyond the scope of a single communication.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~[Page 13], not a comment for this draft but in general, has the WG considered a BCP for general error handling, in line with the example given after this sentence:~~\n\n  ~~\"HTTP does not define specific error handling mechanisms except when they have a direct impact on security, since different applications of the protocol require different error handling strategies.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~[Page 15], if the statement below is a well-known and often happening scenario it would help to give at least one example of how a client can deduce that by going to a lower version of HTTP the problem(?) will be fixed.~~\n\n~~(Note that 2 paragraphs below give examples for the server case.)~~\n\n  ~~\"A client MAY send a lower request version if it is known that the server incorrectly implements the HTTP specification, but only after the client has attempted at least one normal request and determined from the response status code or header fields (e.g., Server) that the server improperly handles higher request versions.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~[Page 15],can the server send this error message to refuse service based on e.g. connection identification or other reasons? Then how can the client address the problem if in reality it was not related to the version of HTTP?~~\n\n  ~~\"A server can send a 505 (HTTP Version Not Supported) response if it wishes, for any reason, to refuse service of the client's major protocol version.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 16], would it be ok to use MAY? If so it would be clearer to use MAY. : \"A recipient MAY...\"~~\n\n  ~~\"A recipient can assume that a message with a higher minor version, when sent to a recipient that has not yet indicated support for that higher version, is sufficiently backwards-compatible to be safely processed by any implementation of the same major version.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n---- \n\n~~-[Page 17], Section 2.7.1 first line:   \"...for the purpose of minting identifiers\".~~\n\n~~suggestion: if another word than \"minting\" (e.g. generating, creating), could be used it would be easier to read that section.~~\n\n~~(also used in section 2.7.2)~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 17], \"port 80 is assumed\", should it be \"SHOULD BE\" or \"MUST BE\" ?~~\n\n  ~~\"If the port subcomponent is empty or not given, then TCP port 80 is assumed (the default reserved port for WWW services).\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 17], \"non-interim\" , not clear how it can be determines as non-interim (no other message in between? or under a certain peruiod of time?)~~\n\n~~Also the term \"authoritative\" is introduced and should be defined in this context.~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1902.html\n\n  ~~\"If the server responds to that request with a non-interim HTTP response message, as described in Section 6 of [Part2], then that response is considered an authoritative answer to the client's request.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 21], Should it be section 5.3?~~\n\n  ~~\"Recipients typically parse the request-line into its component parts by splitting on whitespace (see Section 3.5), ...\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 21], just verifying is it three or tree?~~\n\n  ~~\"..., since no whitespace is allowed in the three components.\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 52], refers to an obsoleted RFC. Maybe repeating the explanation in this draft would be a better idea.~~\n\n  ~~\"A proxy server MUST NOT maintain a persistent connection with an HTTP/1.0 client (see Section 19.7.1 of [RFC2068] for information and discussion of the problems with the Keep-Alive header field implemented by many HTTP/1.0 clients).\"~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1691.html\n\n----\n\n~~-[Page 54], suggestion for clarity: \"through the same server\"--->\"through the same proxy server\"~~\n\n  ~~\"Proxy servers might make this a higher value since it is likely that the client will be making more connections through the same server.\"~~ - [2506]\n\n---- \n\n~~- [Page 65], Security section, is it exhaustive? Would it be better to have a separate draft to discuss all security issues related to HTTP?~~\n\n~~(also referring to comments from Kathleen Moriarty on other parts of this bis) [See comment 2 in \"minor issues\" section above]~~ - http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/1663.html\n\n ",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "wontfix",
    "time": "2013-12-03T16:51:59",
    "component": "p1-messaging",
    "summary": "Gen-ART Last Call review draft-ietf-httpbis-p1-messaging-25",
    "priority": "normal",
    "keywords": "",
    "milestone": "26",
    "owner": "draft-ietf-httpbis-p1-messaging@tools.ietf.org",
    "type": "editorial",
    "severity": "In IESG Evaluation"
}
```
