Unneeded references (Trac #44)

RFC1866 and RFC2069 aren't mentioned anywhere in the spec. These references probably are leftovers from revising RFC2068.

Migrated from https://trac.ietf.org/ticket/44
```json
{
    "status": "closed",
    "changetime": "2007-12-31T17:17:47",
    "_ts": "1199121467000000",
    "description": "RFC1866 and RFC2069 aren't mentioned anywhere in the spec. These references probably are leftovers from revising RFC2068.",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-20T05:17:36",
    "component": "p7-auth",
    "summary": "Unneeded references",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20071231T17:17:47: 
* julian.reschke@gmx.de commented:

> Removed earlier.


* julian.reschke@gmx.de changed component from "" to "auth"
* julian.reschke@gmx.de changed milestone from "" to "01"
* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"