bogus 2068 Date header reference (Trac #126)

Part 4, Section 4.1:

"If a clockless origin server obeys these rules, and proxies and clients add their own Date to any response received without one (as already specified by [RFC2068], Section 14.19), caches will operate correctly."

RFC2068, Section 14.19 is the definition of the Date header. Why does RFC2616 refer to RFC2068 instead to itself?

Proposal to reference Part 1, Sexction 8.3 instead.

Migrated from https://trac.ietf.org/ticket/126
```json
{
    "status": "closed",
    "changetime": "2008-08-05T20:36:30",
    "_ts": "1217968590000000",
    "description": "Part 4, Section 4.1:\n\n\"If a clockless origin server obeys these rules, and proxies and clients add their own Date to any response received without one (as already specified by [RFC2068], Section 14.19), caches will operate correctly.\"\n\nRFC2068, Section 14.19 is the definition of the Date header. Why does RFC2616 refer to RFC2068 instead to itself?\n\nProposal to reference Part 1, Sexction 8.3 instead.",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2008-08-05T20:16:43",
    "component": "p4-conditional",
    "summary": "bogus 2068 Date header reference",
    "priority": "",
    "keywords": "",
    "milestone": "04",
    "owner": "",
    "type": "editorial",
    "severity": "Active WG Document"
}
```


Trac update at 20080805T20:36:30: 
* julian.reschke@gmx.de commented:

> Fixed in [306]:
> 
> Resolve #126: use current Date header reference instead of pointing to RFC2068 (closes #126).


* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"