Do not require "updates" relation for specs that register status codes or method names (Trac #170)

Migrated from https://trac.ietf.org/ticket/170
```json
{
    "status": "closed",
    "changetime": "2012-03-22T00:08:33",
    "_ts": "1332374913614734",
    "description": "In Part 2 we currently state for both:\n\n\"Any document registering new method names should be traceable through statuses of either 'Obsoletes' or 'Updates' to this document.\"\n\nI think we inherited that from RFC2817, Section 7.1. \n(<http://tools.ietf.org/html/rfc2817#section-7.1>)\n\nIMHO this doesn't make sense; the \"updates\" relation shouldn't be used just because a specification uses a well-defined extension point that already has a registry.\n\nProposal: remove the requirement from sections 2.1 (method names) and 4.1 (status codes).\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2009-06-03T11:35:30",
    "component": "p2-semantics",
    "summary": "Do not require \"updates\" relation for specs that register status codes or method names",
    "priority": "normal",
    "keywords": "",
    "milestone": "07",
    "owner": "",
    "type": "design",
    "severity": "Active WG Document"
}
```
