RFC1700 references (Trac #46)


```text
#!html
            <p>RFC1700 ("ASSIGNED NUMBERS") has been obsoleted by RFC3232 ("Assigned Numbers: RFC 1700 is Replaced by an On-line Database").</p>
            
            <p>draft-gettys-http-v11-spec-rev-00 just updates the reference, which I think is a bug.</p>
                
            <p>In fact, RFC2616 refers to RCF1700:</p>
                
            <ol>
                <li>for the definition of the default TCP port, </li>
                <li>for a reference to the character set registry, and</li>
                <li>for a reference to the media type registry.</li>
            </ol>
```

Migrated from https://trac.ietf.org/ticket/46
```json
{
    "status": "closed",
    "changetime": "2008-08-09T13:02:50",
    "_ts": "1218286970000000",
    "description": "{{{\n#!html\n            <p>RFC1700 (\"ASSIGNED NUMBERS\") has been obsoleted by RFC3232 (\"Assigned Numbers: RFC 1700 is Replaced by an On-line Database\").</p>\n            \n            <p>draft-gettys-http-v11-spec-rev-00 just updates the reference, which I think is a bug.</p>\n                \n            <p>In fact, RFC2616 refers to RCF1700:</p>\n                \n            <ol>\n                <li>for the definition of the default TCP port, </li>\n                <li>for a reference to the character set registry, and</li>\n                <li>for a reference to the media type registry.</li>\n            </ol>\n}}}",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-20T05:20:23",
    "component": "non-specific",
    "summary": "RFC1700 references",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20071220T05:20:38: mnot@pobox.com commented:

> Proposal:
> 
> 
> ```text
> #!html
>             <p>For each of the above references:</p>
>             <ol>
>             <li>Replace reference with in-lined URL of the IANA port registry,</li>
>             
>             <li>Replace the first reference with the in-lined URL of the IANA character set registry, and drop the second one, and</li>
>             
>             <li>Drop the reference, as the next sentence refers to the Media Type Registration Process anyway.</li>
>             </ol>
> ```



Trac update at 20071222T00:20:00: 
* fielding@gbiv.com commented:

> Fixed in [91]
> 


* fielding@gbiv.com changed milestone from "" to "01"
* fielding@gbiv.com changed resolution from "" to "fixed"
* fielding@gbiv.com changed status from "new" to "closed"
* fielding@gbiv.com changed version from "" to "00"

Trac update at 20071222T04:14:17: mnot@pobox.com changed version from "00" to "d00"

Trac update at 20080809T13:02:50: julian.reschke@gmx.de changed component from "" to "non-specific"