205 Bodies (Trac #88)

RFC2616 Section 4.3 "Message Body" enumerates those messages that don't include
a message-body;

  All 1xx (informational), 204 (no content), and 304 (not modified) responses MUST NOT include a message-body. All other responses do include a message-body, although it MAY be of zero length.

However, it does not list 205 (section 10.2.6).

Also if you look at the texts for 204, 304 and 205 responses, you see
that 204 and 304 say "MUST NOT include a message-body", whereas 205
says "MUST NOT include an entity".  204 and 304 go on to say that the
message is terminated at the first empty line, but 205 does not say
that.

Migrated from https://trac.ietf.org/ticket/88
```json
{
    "status": "closed",
    "changetime": "2013-08-11T00:00:49",
    "_ts": "1376179249664677",
    "description": "RFC2616 Section 4.3 \"Message Body\" enumerates those messages that don't include\na message-body;\n\n  All 1xx (informational), 204 (no content), and 304 (not modified) responses MUST NOT include a message-body. All other responses do include a message-body, although it MAY be of zero length.\n\nHowever, it does not list 205 (section 10.2.6).\n\nAlso if you look at the texts for 204, 304 and 205 responses, you see\nthat 204 and 304 say \"MUST NOT include a message-body\", whereas 205\nsays \"MUST NOT include an entity\".  204 and 304 go on to say that the\nmessage is terminated at the first empty line, but 205 does not say\nthat.",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T03:45:09",
    "component": "p1-messaging",
    "summary": "205 Bodies",
    "priority": "later",
    "keywords": "",
    "milestone": "13",
    "owner": "julian.reschke@gmx.de",
    "type": "design",
    "severity": "Active WG Document"
}
```


Trac update at 20080104T06:01:19: 
* mnot@pobox.com changed component from "" to "auth"
* mnot@pobox.com changed milestone from "" to "unassigned"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080104T06:25:23: 
* mnot@pobox.com changed component from "auth" to "messaging"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20081114T01:07:45: mnot@pobox.com changed milestone from "unassigned" to "06"

Trac update at 20090309T12:56:34: julian.reschke@gmx.de changed milestone from "06" to "unassigned"

Trac update at 20090609T15:34:09: 
* julian.reschke@gmx.de changed attachment from "" to "88.diff"
* julian.reschke@gmx.de commented:

> proposed change for part 1, clarifying that 1xx, 204, 304 are all the exceptions to parsing



Trac update at 20090706T09:50:28: julian.reschke@gmx.de commented:

> From [600]:
> 
> Take out language that implied that there may be methods for which a request body MUST NOT be included (related to #88)
> 



Trac update at 20090720T04:17:43: 
* mnot@pobox.com commented:

> Setting priority to low; Roy wants to do parsing clean-up and terminology revision before addressing this.


* mnot@pobox.com changed priority from "" to "low"

Trac update at 20090729T09:54:10: mnot@pobox.com commented:

> proposal: remove requirement altogether (i.e., 205 response bodies don't have any defined semantic, but like the rest of HTTP, there has to be a body there, even if it is 0 length)



Trac update at 20101011T16:09:09: 
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"
* julian.reschke@gmx.de changed severity from "" to "Active WG Document"

Trac update at 20101025T15:07:37: julian.reschke@gmx.de changed milestone from "unassigned" to "13"

Trac update at 20101025T15:19:10: 
* julian.reschke@gmx.de changed attachment from "" to "i88.diff"
* julian.reschke@gmx.de commented:

> Patch for part 2, clarifying the 205 requirement



Trac update at 20101026T12:05:34: julian.reschke@gmx.de commented:

> From [1058]:
> 
> Clarify 205's constraints for the message body (see #88)



Trac update at 20101026T12:07:08: 
* julian.reschke@gmx.de changed resolution from "" to "incorporated"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20110327T08:07:54: 
* mnot@pobox.com changed resolution from "incorporated" to ""
* mnot@pobox.com changed status from "closed" to "reopened"

Trac update at 20110327T08:09:18: 
* mnot@pobox.com changed resolution from "" to "fixed"
* mnot@pobox.com changed status from "reopened" to "closed"

Trac update at 20130811T00:00:49: fielding@gbiv.com commented:

> From [2353]:
> 
> Restore the ability for 205 responses to be sent with a zero-length chunked body; addresses #491 and related to #88

