inconsistency in date format explanation (Trac #47)


```text
#!html
            <p>In Section 3.3.1, RFC2616 says:</p>
                
            <p>"The second format is in common use, but is based on the obsolete RFC 850 [12] date format and lacks a four-digit year."</p>
                
            <p>However, [12] refers to RFC1036, which obsoletes RFC850.</p>
```

Migrated from https://trac.ietf.org/ticket/47
```json
{
    "status": "closed",
    "changetime": "2008-01-01T16:41:15",
    "_ts": "1199205675000000",
    "description": "{{{\n#!html\n            <p>In Section 3.3.1, RFC2616 says:</p>\n                \n            <p>\"The second format is in common use, but is based on the obsolete RFC 850 [12] date format and lacks a four-digit year.\"</p>\n                \n            <p>However, [12] refers to RFC1036, which obsoletes RFC850.</p>\n}}}",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T02:28:33",
    "component": "p1-messaging",
    "summary": "inconsistency in date format explanation",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20071222T02:28:58: mnot@pobox.com commented:

> Proposal: "The second format is in common use, but is based on the obsolete RFC1036 date format [12] and lacks a four-digit year."



Trac update at 20071224T08:46:01: 
* fielding@gbiv.com commented:

> Fixed in [82]
> 


* fielding@gbiv.com changed component from "" to "messaging"
* fielding@gbiv.com changed resolution from "" to "fixed"
* fielding@gbiv.com changed status from "new" to "closed"

Trac update at 20080101T12:23:55: julian.reschke@gmx.de commented:

> Not sure it's ok to drop RFC1036 from the references section...



Trac update at 20080101T16:41:15: fielding@gbiv.com commented:

> I am sure.  RFC 1036 does not define the date format being described
> because the format was obsolete by then.  That is why it is the rfc850 format
> as opposed to the netnews format.  A pointer to 1036 is worse than
> meaningless.  In any case, these are just informative references.
> 

