Informative references (Trac #65)

The references below are informative and should be classified as such. In some cases, they need to be updated as well:

Luo1998 ("Tunneling TCP based protocols through Web proxy servers", also update reference to quote the expired Internet Draft properly).

Nie1997 ("Network Performance Effects of HTTP/1.1, CSS1, and PNG").

Pad1995 ("Improving HTTP Latency").

RFC821 (SMTP), also update the reference to RFC2821.

RFC822 ("STANDARD FOR THE FORMAT OF ARPA INTERNET TEXT MESSAGES") -- but add another instance as RFC822ABNF for the cases where the reference if for the ABNF part (these references will later be replaced by references to RFC4234 (see issue abnf)).

RFC959 (FTP).

RFC1036 ("Standard for Interchange of USENET Messages").

RFC1123 ("Requirements for Internet Hosts -- Application and Support") -- it is only used as a background reference for rfc1123-date, which this spec defines itself (note that note this disagrees with draft-gettys-http-v11-spec-rev-00 which made it normative).

RFC1305 ("Network Time Protocol (Version 3)").

RFC1436 (Gopher).

RFC1630 (URI Syntax) -- there'll be a normative reference to a newer spec.

RFC1738 (URL) -- there'll be a normative reference to a newer spec.

RFC1806 ("Communicating Presentation Information in Internet Messages: The Content-Disposition Header").

RFC1808 (Relative Uniform Resource Locators).

RFC1867 ("Form-based File Upload in HTML"), also update the reference to RFC2388 ("Returning Values from Forms: multipart/form-data").

RFC1900 ("Renumbering Needs Work").

RFC1945 (HTTP/1.0).

RFC1950 (ZLIB).

RFC1951 (DEFLATE).

RFC1952 (GZIP).

RFC2026 ("The Internet Standards Process -- Revision 3").

RFC2049 ("Multipurpose Internet Mail Extensions (MIME) Part Five: Conformance Criteria and Examples").

RFC2068 (HTTP/1.1).

RFC2076 ("Common Internet Message Headers").

RFC2110 (MHTML), also update the reference to RFC2557.

RFC2145 ("Use and Interpretation of HTTP Version Numbers").

RFC2183 ("Communicating Presentation Information in Internet Messages: The Content-Disposition Header Field").

RFC2277 ("IETF Policy on Character Sets and Languages").

RFC2279 (UTF8), also update the reference to RFC3629.

RFC2324 (HTCPCP/1.0).

Spero ("Analysis of HTTP Performance Problems").

Tou1998 ("Analysis of HTTP Performance").

WAIS ("WAIS Interface Protocol Prototype Functional Specification (v1.5)").

Migrated from https://trac.ietf.org/ticket/65
```json
{
    "status": "closed",
    "changetime": "2008-01-04T06:20:17",
    "_ts": "1199427617000000",
    "description": "The references below are informative and should be classified as such. In some cases, they need to be updated as well:\n\nLuo1998 (\"Tunneling TCP based protocols through Web proxy servers\", also update reference to quote the expired Internet Draft properly).\n\nNie1997 (\"Network Performance Effects of HTTP/1.1, CSS1, and PNG\").\n\nPad1995 (\"Improving HTTP Latency\").\n\nRFC821 (SMTP), also update the reference to RFC2821.\n\nRFC822 (\"STANDARD FOR THE FORMAT OF ARPA INTERNET TEXT MESSAGES\") -- but add another instance as RFC822ABNF for the cases where the reference if for the ABNF part (these references will later be replaced by references to RFC4234 (see issue abnf)).\n\nRFC959 (FTP).\n\nRFC1036 (\"Standard for Interchange of USENET Messages\").\n\nRFC1123 (\"Requirements for Internet Hosts -- Application and Support\") -- it is only used as a background reference for rfc1123-date, which this spec defines itself (note that note this disagrees with draft-gettys-http-v11-spec-rev-00 which made it normative).\n\nRFC1305 (\"Network Time Protocol (Version 3)\").\n\nRFC1436 (Gopher).\n\nRFC1630 (URI Syntax) -- there'll be a normative reference to a newer spec.\n\nRFC1738 (URL) -- there'll be a normative reference to a newer spec.\n\nRFC1806 (\"Communicating Presentation Information in Internet Messages: The Content-Disposition Header\").\n\nRFC1808 (Relative Uniform Resource Locators).\n\nRFC1867 (\"Form-based File Upload in HTML\"), also update the reference to RFC2388 (\"Returning Values from Forms: multipart/form-data\").\n\nRFC1900 (\"Renumbering Needs Work\").\n\nRFC1945 (HTTP/1.0).\n\nRFC1950 (ZLIB).\n\nRFC1951 (DEFLATE).\n\nRFC1952 (GZIP).\n\nRFC2026 (\"The Internet Standards Process -- Revision 3\").\n\nRFC2049 (\"Multipurpose Internet Mail Extensions (MIME) Part Five: Conformance Criteria and Examples\").\n\nRFC2068 (HTTP/1.1).\n\nRFC2076 (\"Common Internet Message Headers\").\n\nRFC2110 (MHTML), also update the reference to RFC2557.\n\nRFC2145 (\"Use and Interpretation of HTTP Version Numbers\").\n\nRFC2183 (\"Communicating Presentation Information in Internet Messages: The Content-Disposition Header Field\").\n\nRFC2277 (\"IETF Policy on Character Sets and Languages\").\n\nRFC2279 (UTF8), also update the reference to RFC3629.\n\nRFC2324 (HTCPCP/1.0).\n\nSpero (\"Analysis of HTTP Performance Problems\").\n\nTou1998 (\"Analysis of HTTP Performance\").\n\nWAIS (\"WAIS Interface Protocol Prototype Functional Specification (v1.5)\").",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T02:49:51",
    "component": "p7-auth",
    "summary": "Informative references",
    "priority": "",
    "keywords": "",
    "milestone": "01",
    "owner": "",
    "type": "editorial",
    "severity": ""
}
```


Trac update at 20080101T14:06:56: 
* julian.reschke@gmx.de changed component from "" to "auth"
* julian.reschke@gmx.de changed resolution from "" to "fixed"
* julian.reschke@gmx.de changed status from "new" to "closed"

Trac update at 20080101T14:57:53: julian.reschke@gmx.de commented:

> Fixed in [129].



Trac update at 20080101T16:24:40: julian.reschke@gmx.de commented:

> From [134]:
> 
> Update another use of RFC822 to RFC2822 (addresses #65). 



Trac update at 20080101T16:25:49: julian.reschke@gmx.de commented:

> See also revisions [133] and [134]



Trac update at 20080104T06:20:17: mnot@pobox.com changed milestone from "" to "01"