Content-Location isn't special (Trac #80)

RFC2616 Section 14.14, The definition of Content-Location ends with:

  "The meaning of the Content-Location header in PUT or POST requests is undefined; servers are free to ignore it in those cases."

This was added in RFC2616 (does not appear in RFC2068).

I have no problem allowing servers to ignore it. However:

 1. It seems that the meaning of Content-Location is universal for messages that carry an entity; I'm not sure what's the point in claiming that meaning does not apply to PUT or POST.
 2. Also: every time a limited set of methods is mentioned somewhere it feels like problematic spec writing. What makes PUT or POST so special in comparison to other methods? Maybe that they are the only methods in RFC2616 that carry request entity bodies? In which case the statement should be rephrased accordingly...

Migrated from https://trac.ietf.org/ticket/80
```json
{
    "status": "closed",
    "changetime": "2010-07-19T11:52:09",
    "_ts": "1279540329000000",
    "description": "RFC2616 Section 14.14, The definition of Content-Location ends with:\n\n  \"The meaning of the Content-Location header in PUT or POST requests is undefined; servers are free to ignore it in those cases.\"\n\nThis was added in RFC2616 (does not appear in RFC2068).\n\nI have no problem allowing servers to ignore it. However:\n\n 1. It seems that the meaning of Content-Location is universal for messages that carry an entity; I'm not sure what's the point in claiming that meaning does not apply to PUT or POST.\n 2. Also: every time a limited set of methods is mentioned somewhere it feels like problematic spec writing. What makes PUT or POST so special in comparison to other methods? Maybe that they are the only methods in RFC2616 that carry request entity bodies? In which case the statement should be rephrased accordingly...",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T03:35:36",
    "component": "p3-payload",
    "summary": "Content-Location isn't special",
    "priority": "",
    "keywords": "",
    "milestone": "07",
    "owner": "julian.reschke@gmx.de",
    "type": "design",
    "severity": "Active WG Document"
}
```


Trac update at 20080104T06:03:23: 
* mnot@pobox.com changed component from "" to "auth"
* mnot@pobox.com changed milestone from "" to "unassigned"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080104T06:26:46: 
* mnot@pobox.com changed component from "auth" to "payload"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080729T17:01:45: 
* julian.reschke@gmx.de commented:

> Proposal: just drop "PUT and POST".


* julian.reschke@gmx.de changed milestone from "unassigned" to "04"
* julian.reschke@gmx.de changed owner from "" to "julian.reschke@gmx.de"

Trac update at 20080829T08:43:44: julian.reschke@gmx.de changed milestone from "04" to "unassigned"

Trac update at 20081114T01:47:40: mnot@pobox.com commented:

> depends on #79



Trac update at 20090506T06:48:51: 
* julian.reschke@gmx.de changed attachment from "" to "80.diff"
* julian.reschke@gmx.de commented:

> proposed change for part 3.



Trac update at 20090507T08:47:48: julian.reschke@gmx.de commented:

> From [577]:
> 
> PUT and POST requests are not special with respect to Content-Location (related to #80)
> 



Trac update at 20090603T07:58:29: 
* mnot@pobox.com changed resolution from "" to "fixed"
* mnot@pobox.com changed severity from "" to "Active WG Document"
* mnot@pobox.com changed status from "new" to "closed"

Trac update at 20100719T11:52:09: fielding@gbiv.com commented:

> From [856]:
> 
> Addresses #69: Clarify "Requested Variant"
> Addresses #109: Clarify entity / representation / variant terminology
>   Replaced entity with payload and variant with representation.
>   Cleaned up description of 204 status code (related to ticket #22)
>   Rewrote section on Content-Location and refer to def in RFC2557.
> 
> Addresses #110: Clarify rules for determining what entities a response carries
>   Detail the rules for Content-Location and remove the cross-ref.
> 
> Addresses #167: Content-Location on 304 responses
>   Removed sentence in C-Loc that refers to using C-Loc to select a
>      variant from cache (an already removed "feature")
> 
> Addresses #136: confusing req. language for Content-Location
>   Removed the confusing paragraph because HTTP does not know
>   anything about variants behind the resource interface and
>   thus cannot make this an interop requirement.  In any case,
>   it only existed to support the already removed cache feature
>   that nobody implemented.
> 
> Addresses #80: Content-Location isn't special
>   Clarifies that C-Loc is representation metadata and what
>   (not) to do with it if received on a request.
> 
> 

