outdated references (Trac #400)

Migrated from https://trac.ietf.org/ticket/400
```json
{
    "status": "closed",
    "changetime": "2013-02-08T05:36:22",
    "_ts": "1360301782429293",
    "description": "RFC1738: [PROPOSED STANDARD] obsoleted by RFC4248 RFC4266\n\nRFC4366: [PROPOSED STANDARD] obsoleted by RFC5246 RFC6066\n\ndraft-agl-tls-nextprotoneg-01: Alternate version available: 04\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "migrated",
    "time": "2012-11-06T15:21:50",
    "component": "http2",
    "summary": "outdated references",
    "priority": "normal",
    "keywords": "",
    "milestone": "unassigned",
    "owner": "",
    "type": "design",
    "severity": "Active WG Document"
}
```
