Clarification of the term "deflate" (Trac #73)

Below is the definition of "deflate" from RFC 2616, section 3.5 "Content Codings"


```text
  deflate
The "zlib" format defined in RFC 1950 [31] in combination with
the "deflate" compression mechanism described in RFC 1951 [29].
```

There is ambiguity in that definition because of the inconsistent use of the term "deflate". This has resulted in a long standing confusion about how to implement "deflate" encoding.

There was a time a few years back when most of the high profile browser and some http server implementations incorrectly implemented http "deflate" encoding using RFC 1951 without the RFC 1950 wrapper. Admittedly most, if not all, of the incorrect implementations have now been fixed, but the fix applied recognises the reality that there are incorrect implementations of "deflate" out in the wild. All browsers now seem to be able to cope with "deflate" in both its RFC1950 or RFC1951 incarnations.

So I suggest there are two issues that need to be addressed

 1. The definition of "deflate" needs to be rewritten to remove the ambiguity.

 2. Document the reality that there are incorrect implementations, and recommend that anyone writing a "deflate" decoder should cope with both forms.

Migrated from https://trac.ietf.org/ticket/73
```json
{
    "status": "closed",
    "changetime": "2010-10-18T03:43:25",
    "_ts": "1287373405000000",
    "description": "Below is the definition of \"deflate\" from RFC 2616, section 3.5 \"Content Codings\"\n\n{{{\n  deflate\nThe \"zlib\" format defined in RFC 1950 [31] in combination with\nthe \"deflate\" compression mechanism described in RFC 1951 [29].\n}}}\n\nThere is ambiguity in that definition because of the inconsistent use of the term \"deflate\". This has resulted in a long standing confusion about how to implement \"deflate\" encoding.\n\nThere was a time a few years back when most of the high profile browser and some http server implementations incorrectly implemented http \"deflate\" encoding using RFC 1951 without the RFC 1950 wrapper. Admittedly most, if not all, of the incorrect implementations have now been fixed, but the fix applied recognises the reality that there are incorrect implementations of \"deflate\" out in the wild. All browsers now seem to be able to cope with \"deflate\" in both its RFC1950 or RFC1951 incarnations.\n\nSo I suggest there are two issues that need to be addressed\n\n 1. The definition of \"deflate\" needs to be rewritten to remove the ambiguity.\n\n 2. Document the reality that there are incorrect implementations, and recommend that anyone writing a \"deflate\" decoder should cope with both forms.",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "fixed",
    "time": "2007-12-22T03:03:42",
    "component": "p1-messaging",
    "summary": "Clarification of the term \"deflate\"",
    "priority": "normal",
    "keywords": "",
    "milestone": "10",
    "owner": "julian.reschke@gmx.de",
    "type": "design",
    "severity": "Active WG Document"
}
```


Trac update at 20080104T06:04:45: 
* mnot@pobox.com changed component from "" to "non-specific"
* mnot@pobox.com changed milestone from "" to "unassigned"
* mnot@pobox.com changed owner from "" to ""

Trac update at 20080729T16:47:19: 
* julian.reschke@gmx.de changed component from "non-specific" to "p3-payload"
* julian.reschke@gmx.de changed owner from "" to ""

Trac update at 20090729T13:26:48: 
* mnot@pobox.com commented:

> Proposal:
> 
> Note that some incorrect implementations may send deflate encoding without a zlib wrapper when using this encoding.


* mnot@pobox.com changed owner from "" to "henrik@henriknordstrom.net"
* mnot@pobox.com changed priority from "" to "normal"
* mnot@pobox.com changed severity from "" to "Active WG Document"

Trac update at 20100401T13:51:32: 
* julian.reschke@gmx.de changed component from "p3-payload" to "p1-messaging"
* julian.reschke@gmx.de changed owner from "henrik@henriknordstrom.net" to "julian.reschke@gmx.de"
* julian.reschke@gmx.de changed status from "new" to "assigned"

Trac update at 20100401T14:39:28: julian.reschke@gmx.de commented:

> From [801]:
> 
> Clarify "deflate", add note about broken implementations (addresses #73)



Trac update at 20100401T17:19:08: mnot@pobox.com changed milestone from "unassigned" to "10"

Trac update at 20100402T12:38:59: julian.reschke@gmx.de commented:

> This is believed to be fixed with [801], pending review.



Trac update at 20100406T14:57:52: julian.reschke@gmx.de commented:

> From [805]:
> 
> "deflate": make the IANA entry more consistent with the actual description (related to #73)



Trac update at 20100406T15:08:11: julian.reschke@gmx.de commented:

> From [806]:
> 
> "deflate": make the IANA entry more consistent with the actual description (related to #73)



Trac update at 20100709T09:22:24: 
* julian.reschke@gmx.de changed resolution from "" to "incorporated"
* julian.reschke@gmx.de changed status from "assigned" to "closed"

Trac update at 20101018T03:43:09: 
* mnot@pobox.com changed resolution from "incorporated" to ""
* mnot@pobox.com changed status from "closed" to "reopened"

Trac update at 20101018T03:43:25: 
* mnot@pobox.com changed resolution from "" to "fixed"
* mnot@pobox.com changed status from "reopened" to "closed"