p2 editorial feedback (Trac #426)

Migrated from https://trac.ietf.org/ticket/426
```json
{
    "status": "closed",
    "changetime": "2013-01-14T03:25:26",
    "_ts": "1358133926170143",
    "description": "> 3.1. Representation Metadata\n\n>    | Expires           | Section 7.3 of [Part6] |\n\nIf \"Expires\" is considered \"representation metadata\", then it seems\nlike \"ETag\" and \"Last-Modified\" should be as well. But I think it\nwould make more sense to just remove \"Expires\" from the list; it's\nclearly the odd man out here.\n\n\n\n> 3.1.1.2. Character Encodings (charset)\n\n>    Implementers need to be aware of IETF character set requirements\n>    [RFC3629] [RFC2277].\n\nIt's not clear what requirements this is referring to; RFC 2277 places\nrequirements on protocol authors, not on implementors, and RFC 3629 is\njust the definition of UTF-8. If the requirement is \"implementations\nMUST support UTF-8\" then we should say that.\n\n\n\n> 3.1.1.4. Multipart Types\n\n>    In general, HTTP treats a multipart message body no differently than\n>    any other media type: strictly as payload.  HTTP does not use the\n>    multipart boundary as an indicator of message body length.  In all\n>    other respects, an HTTP user agent SHOULD follow the same or similar\n>    behavior as a MIME user agent would upon receipt of a multipart type.\n\nThat last part seems completely wrong; a web browser is not expected\nto handle multipart/alternative or multipart/related in the way a mail\nreader would. (This requirement came from RFC 2616, but... it was\nwrong then too.)\n\n>    The MIME header fields within each body-part of a multipart message\n>    body do not have any significance to HTTP beyond that defined by\n>    their MIME semantics.\n\nThis is not true of multipart/byteranges; in RFC 2616 that was\nexplained separately, but that explanation got lost in httpbis\nrewrites at some point.\n\nSuggested rewrite for the second and third paragraphs:\n\n   In general, HTTP treats a multipart message body no differently\n   than any other media type: strictly as payload.  The one exception\n   is the \"multipart/byteranges\" type (Appendix A of [Part5]) when it\n   appears in a 206 (Partial Content) response.  In all other cases,\n   the MIME header fields within each body-part of a multipart message\n   body do not have any significance at the HTTP level; they are\n   just part of the representation data.\n\n(This drops the newly-added \"HTTP does not use the multipart boundary\nas an indicator of message body length\", but that is already implied\nby the removal of 2616's prohibition on epilogue data; if the\nmultipart is allowed to have an epilogue, then the final boundary\ndoesn't indicate the end of the body anyway. It also drops the\n\"unrecognized multipart subtype\" text, which was already irrelevant\ngiven the \"strictly as payload\" rule anyway.)\n\n\n\n> 3.1.3.1. Language Tags\n\n>    In summary, a language tag is composed of one or more parts: A\n>    primary language subtag followed by a possibly empty series of\n>    subtags:\n>\n>      language-tag = <Language-Tag, defined in [RFC5646], Section 2.1>\n\nKinda weird... the text sets you up to expect an actual grammar for\nlanguage-tag, but then you just get a cross-reference. I'd rearrange\nstuff to:\n\n   ... HTTP uses language tags within the Accept-Language and\n   Content-Language fields.\n\n     language-tag = <Language-Tag, defined in [RFC5646], Section 2.1>\n\n   A language tag is composed of one or more parts: A primary language\n   subtag followed by a possibly empty series of subtags.  White space\n   is not allowed within the tag and all tags are case-insensitive.\n   Example tags include:\n\n     en, en-US, es-419, az-Arab, x-pig-latin, man-Nkoo-GN\n\n   See [RFC5646] for further information.\n\n(also dropping the language-subtag-registry ref, since that's covered\nby the \"See [RFC5646]\")\n\n\n\n> 3.4. Content Negotiation\n\n>    (such as when many different formats are supported by a user-agent),\n\nno hyphen\n\n\n\n> 3.4.1. Proactive Negotiation\n>\n>\n>    If the selection of the best representation for a response is made by\n>    an algorithm located at the server, it is called proactive\n>    negotiation.\n\nThat text doesn't motivate the new name. How about:\n\n   If the selection of the best representation for a response is made\n   by the server based on preferences indicated by the user agent in its\n   initial request for the resource, it is called proactive negotiation.\n\n>    4.  It might limit a public cache's ability to use the same response\n>        for multiple user's requests.\n\nusers' not user's\n\n>    For example, the origin server might not implement proactive\n>    negotiation, or it might decide that sending a response that doesn't\n>    conform to them is better than sending a 406 (Not Acceptable)\n>    response.\n\nNot clear what \"them\" is. \"...that doesn't conform to the user agent's\npreferences...\"\n\n\n\n> 3.4.2. Reactive Negotiation\n\n>    This specification defines the 300 (Multiple Choices) and 406 (Not\n>    Acceptable) status codes for enabling reactive negotiation when the\n>    server is unwilling or unable to provide a varying response using\n>    proactive negotiation.\n\n406 doesn't really \"enable reactive negotiation\". It just fails to do\nproactive negotiation.\n\nAlso, should we mention how reactive negotiation is *actually* done?\n\n   This specification defines the 300 (Multiple Choices) status code\n   for enabling reactive negotiation. However, in practice, Web sites\n   wanting to do reactive negotiation will just return a successful\n   response containing a \"default\" (or proactively negotiated)\n   representation of the resource, which includes within it links that\n   the user can follow to reach other representations.\n\n\n\n> 4. Product Tokens\n\n>    By convention, the products are listed in order of their\n>    significance for identifying the application.\n\n\"...in *decreasing* order of...\", or something like that. (likewise in\nthe description of User-Agent in 6.5.3 and Server in 8.4.2)\n\n\n\n> 5.2.2. Idempotent Methods\n\nSection 6.2.2.1 of Part1 implies that the concept of \"idempotent\nsequences of request methods\" (as opposed to merely \"idempotent\nmethods\") will be discussed here, but it's not. I'm not sure if it\nshould be added here or there.\n\n\n\n> 5.3.1. GET\n\n>    The semantics of the GET method change to a \"partial GET\" if the\n>    request message includes a Range header field ([Part5]).\n\n\"a Range or If-Range header field\"\n\n\n\n> 5.3.6. CONNECT\n\nThough obvious, it seems like for consistency's sake, this should end\nwith:\n\n   Responses to the CONNECT method are not cacheable.\n\n\n\n> 5.3.7. OPTIONS\n\n>    If no payload body is included, the response MUST include a\n>    Content-Length field with a field-value of \"0\".\n\nDoes this actually mean to prohibit servers from using chunked\nencoding (or \"Connection: close\" with no Content-Length) in that case?\nOr is it just supposed to be a reminder that \"empty message body\" is\ndifferent from \"no message body\"?\n\n(Section 9.1.2 has basically the same text.)\n\n>    If no Max-Forwards field is present in the request, then the\n>    forwarded request MUST NOT include a Max-Forwards field.\n\n\"If no Max-Forwards field is present in the upstream request, then the\ndownstream request MUST NOT include a Max-Forwards field.\"\n\n\n\n> 6.2. Conditionals\n\n>    The HTTP/1.1 conditional request mechanisms are defined in\n>    [Part4].\n\n\"and [Part5]\" (If-Range)\n\n\n\n> 6.3. Content Negotiation\n\n6.1 and 6.2 had some introductory text before the table, and it seems\nweird to not have that here.\n\n(6.4 and 6.5 have the same problem)\n\n\n\n> 6.3.1. Quality Values\n\nShould this section be called \"Weight\" now?\n\n\n\n> 6.3.5. Accept-Language\n\n>    would mean: \"I prefer Danish, but will accept British English and\n>    other types of English\". (see also Section 2.3 of [RFC4647])\n\nCapitalize \"See\"\n\n\n\n> 7. Response Status Codes\n\n>    The status-code element is a 3-digit integer result code of the\n>    attempt to understand and satisfy the request.\n\n\"...a 3-digit integer code giving the result of the attempt...\"\n\n>    o  2xx (Successful): The action was successfully received,\n>       understood, and accepted\n\n\"The *request* was successfully...\"\n\n\n\n> 7.1. Overview of Status Codes\n\n>    The reason phrases listed here are only recommendations -- they can\n>    be replaced by local equivalents without affecting the protocol.\n\nThat suggests you can/should translate them into other languages,\nwhich isn't really what they're for and kind of contradicts p1 3.1.2's\n\"A client SHOULD ignore the reason-phrase content.\"\n\n>    | 415         | Unsupported Media Type       | Section 7.5.13       |\n>    | 416         | Requested range not          | Section 3.2 of       |\n>    |             | satisfiable                  | [Part5]              |\n>    | 417         | Expectation Failed           | Section 7.5.14       |\n\nThe capitalization of \"Requested range not satisfiable\" is\ninconsistent with the rest of the table.\n\n\n\n> 7.2. Informational 1xx\n\n>    A client MUST be prepared to accept one or more 1xx status responses\n>    prior to a regular response, even if the client does not expect a 100\n>    (Continue) status message.\n\nNo reason to call out 100 Continue specifically here... \"A client MUST\nbe prepared to accept one or more 1xx status responses prior to a\nregular response, even if the client does not expect one.\"\n\n\n\n> 7.3.2. 201 Created\n\n>    If the newly created resource's URI is the same as the Effective\n>    Request URI, this information can be omitted\n\n\"effective request URI\" is not capitalized like that anywhere else.\n(Well, except for once more later on in this section which should also\nbe fixed.)\n\n>    If the action cannot be carried out immediately, the server\n>    SHOULD respond with 202 (Accepted) response instead.\n\n\"with *a* 202 (Accepted) response\"\n\n\n\n> 8.1.1.2. Date\n\n>    1.  If the response status code is 100 (Continue) or 101 (Switching\n>        Protocols), the response MAY include a Date header field, at the\n>        server's option.\n\nIs that really supposed to be limited to 100 and 101, and not other\n1xx codes?\n\n\n\n> 8.1.3. Retry-After\n\n>    This field MAY also be used with any 3xx (Redirection) response\n>    to indicate the minimum time the user-agent is asked to wait\n\nNo hyphen in \"user agent\"\n\n\n\n> 8.4.1. Allow\n\n>      Allow = #method\n\nShould that be 1#method? If not, it should explain what an empty\n\"Allow\" header means.\n\n\n\n> 9.1.1. Procedure\n\n>    HTTP method registrations MUST include the following fields:\n\nShould \"cacheability\" be an explicit field (rather than just a\nrequired part of the specification text)?\n\n\n\n> 9.3. Header Field Registry\n\nIt seems weird to have this in p2 since p1 defines headers too...\n\n\n\n> 9.3.1. Considerations for New Header Fields\n\n>    o  Whether it is appropriate to list the field-name in the Connection\n>       header field (i.e., if the header field is to be hop-by-hop, see\n>       Section 6.1 of [Part1]).\n\nshould have a semicolon rather than comma after \"hop-by-hop\". (So that\nit doesn't read like it's telling you to only follow the xref if the\nheader field is hop-by-hop.)\n\n\n\n> 10.1. Transfer of Sensitive Information\n\n>    Four header fields are worth special mention in this context:\n>    Server, Via, Referer and From.\n\n\"Via\" is in p1 though, so the Via bits should be moved to p1's\nSecurity Considerations? (Or maybe if we end up with a p0, all of the\nsecurity considerations should be consolidated there.)\n\n>    The information sent in the From field might conflict with the user's\n>    privacy interests or their site's security policy, and hence it\n>    SHOULD NOT be transmitted without the user being able to disable,\n>    enable, and modify the contents of the field.  The user MUST be able\n>    to set the contents of this field within a user preference or\n>    application defaults configuration.\n\nDo any browsers actually ever send the \"From\" header? If not, should\nwe just say \"From is for robots, not browsers\"?\n\n\n\n> Appendix C. Changes from RFC 2616\n\n>    Remove base URI setting semantics for \"Content-Location\" due to poor\n>    implementation support, which was caused by too many broken servers\n>    emitting bogus Content-Location header fields, and also the\n>    potentially undesirable effect of potentially breaking relative links\n>    in content-negotiated resources.  (Section 3.1.4.2)\n\nThat would parse better if the \"which was...\" clause was parenthesized\nrather than just set off by commas.\n\n>    Failed to consider that there are many other request methods that are\n>    safe to automatically redirect, and further that the user agent is\n>    able to make that determination based on the request method\n>    semantics.\n\nThis is written in the opposite style from the rest of the list (it\ndescribes the problem with 2616 rather than the solution in httpbis).\nShould be something like:\n\n   Allow automatic redirection of all \"safe\" methods, not just GET and\n   HEAD, and give the user agent more latitude in redirecting unsafe\n   methods. (Section 7.4)",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "incorporated",
    "time": "2012-12-19T00:43:25",
    "component": "p2-semantics",
    "summary": "p2 editorial feedback",
    "priority": "normal",
    "keywords": "",
    "milestone": "22",
    "owner": "",
    "type": "editorial",
    "severity": "Active WG Document"
}
```
