Case-sensitivity of HTTP-date (Trac #165)

Migrated from https://trac.ietf.org/ticket/165
```json
{
    "status": "closed",
    "changetime": "2012-03-22T00:07:15",
    "_ts": "1332374835071014",
    "description": "RFC 2616, Section 3.3.1 is ambiguous with respect to *parsing* requirements for HTTP dates.\n\nIt says:\n\n\"HTTP-date is case sensitive and MUST NOT include additional LWS beyond that specifically included as SP in the grammar.\"\n\nbut then also points out:\n\n\"Note: Recipients of date values are encouraged to be robust in accepting date values that may have been sent by non-HTTP applications, as is sometimes the case when retrieving or posting messages via proxies/gateways to SMTP or NNTP.\"\n\nBrian Smith points out that the dates are case-insensitive in SMPT and NNTP.\n\n\"...are encouraged...\" isn't using BCP 14 terminology. So is this a SHOULD-level requirement? A MAY?\n\nIf it is a SHOULD, HTTPbis will need to rephrase the statement about case-insensitivity, and adjust the ABNF which in the meanwhile uses case-sensitive day and month names.",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2009-05-19T13:23:24",
    "component": "p1-messaging",
    "summary": "Case-sensitivity of HTTP-date",
    "priority": "urgent",
    "keywords": "",
    "milestone": "10",
    "owner": "fielding@gbiv.com",
    "type": "design",
    "severity": "Active WG Document"
}
```
