Understanding Content-* on non-PUT requests (Trac #102)

RFC2616 Section 9.6 (PUT) places the following requirement on PUT recipients:

  The recipient of the entity MUST NOT ignore any Content-*
  (e.g. Content-Range) headers that it does not understand or implement
  and MUST return a 501 (Not Implemented) response in such cases.

Does this advice apply to other request methods than PUT? E.g., POST? Should it apply to all requests with bodies?

Migrated from https://trac.ietf.org/ticket/102
```json
{
    "status": "closed",
    "changetime": "2011-03-11T02:11:45",
    "_ts": "1299809505000000",
    "description": "RFC2616 Section 9.6 (PUT) places the following requirement on PUT recipients:\n\n  The recipient of the entity MUST NOT ignore any Content-*\n  (e.g. Content-Range) headers that it does not understand or implement\n  and MUST return a 501 (Not Implemented) response in such cases.\n\nDoes this advice apply to other request methods than PUT? E.g., POST? Should it apply to all requests with bodies?",
    "reporter": "mnot@pobox.com",
    "cc": "",
    "resolution": "wontfix",
    "time": "2008-02-28T00:25:19",
    "component": "p2-semantics",
    "summary": "Understanding Content-* on non-PUT requests",
    "priority": "normal",
    "keywords": "",
    "milestone": "13",
    "owner": "fielding@gbiv.com",
    "type": "design",
    "severity": "Active WG Document"
}
```


Trac update at 20080729T23:40:19: fielding@gbiv.com commented:

> The notion of Content- being a special prefix comes from MIME,
> where it is the required prefix for metadata that describes a
> MIME part.  This paragraph should have merely described the
> purpose of Content- header fields and state what the recipient
> should do with unrecognized header fields.
> 
> The original design was that such metadata should be stored as
> entity headers and regurgitated as such.  However, that is only
> true when no transformations are done for the PUT.  At most,
> this should only warn implementations that all of the metadata
> needs to be understood or discarded whenever changes are made
> to the corresponding data.
> 
> Content-Range, in particular, should not be allowed on requests.
> 



Trac update at 20100723T15:50:26: 
* mnot@pobox.com commented:

> Proposal:
>   - remove the requirement text
>   - add explanatory (non-requirement) text that warns implementations that all of the metadata needs to be understood or discarded whenever changes are made to the corresponding data.


* mnot@pobox.com changed milestone from "unassigned" to "11"
* mnot@pobox.com changed priority from "" to "normal"
* mnot@pobox.com changed severity from "" to "Active WG Document"

Trac update at 20100729T12:11:50: julian.reschke@gmx.de changed milestone from "11" to "12"

Trac update at 20100729T12:22:58: 
* mnot@pobox.com commented:

> Also closes #79.
> 
> Roy, do you want to put in text specifically about Content-Range on requests, as per above, or is it good enough to just remove the text and add implementation advice?


* mnot@pobox.com changed owner from "" to "fielding@gbiv.com"

Trac update at 20101023T08:03:55: julian.reschke@gmx.de changed milestone from "12" to "13"

Trac update at 20110310T08:40:47: fielding@gbiv.com commented:

> From [1158]:
> 
> Replaced the general prohibition on unrecognized Content-* header fields
> with a specific prohibition of Content-Range (the only field for which
> it is an actual problem) and a general requirement regarding checking
> for consistency.  Unfortunately, this required rewriting the entire
> section on PUT to get rid of the misconceptions about storing resources
> and reflect how PUT is actually implemented in practice.
> 
> Addresses #79, #102, #103, #104, #112, #180, #231, and #267
> 



Trac update at 20110311T02:11:45: 
* fielding@gbiv.com commented:

> This ticket is about non-PUT requests.  As far as I know, the only reason for the original prohibition was its applicability to PUT, namely because the PUT semantics called on the origin server to save the representation (including metadata) and that metadata might include Content-Range.  None of the other methods has that semantic, so this issue can be closed.
> 


* fielding@gbiv.com changed resolution from "" to "wontfix"
* fielding@gbiv.com changed status from "new" to "closed"