handling of unknown disposition types (Trac #242)

Migrated from https://trac.ietf.org/ticket/242
```json
{
    "status": "closed",
    "changetime": "2011-03-22T05:51:36",
    "_ts": "1300773096000000",
    "description": "3.2.  Disposition Type\n\n   Other disposition types SHOULD be handled the same way as\n   \"attachment\" (see also [RFC2183], Section 2.8).\n\nShouldn't that read \"Unknown disposition types\"?\nor to be verbosely explicit \"Unknown or unhandled disposition types\"?\n\nSeems odd to block future extensions like this. RFC2183 also speaks\nabout unknown disposition types, not other.\n",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2010-09-06T13:19:50",
    "component": "content-disp",
    "summary": "handling of unknown disposition types",
    "priority": "normal",
    "keywords": "",
    "milestone": "unassigned",
    "owner": "julian.reschke@gmx.de",
    "type": "design",
    "severity": "Active WG Document"
}
```
