"modification-date" *is* implemented in Konq 4.5 (Trac #252)

Migrated from https://trac.ietf.org/ticket/252
```json
{
    "status": "closed",
    "changetime": "2011-02-10T06:17:17",
    "_ts": "1297318637000000",
    "description": "\"Section 2 of [RFC2183] defines several additional disposition parameters: \"creation-date\", \"modification-date\", \"quoted-date-time\", and \"size\". These do not appear to be implemented by any user agent, thus have been omitted from this specification.\"\n\nHowever, Konqueror 4.5 *does* support \"modification-date\".\n\n(reported by Rolf Eike Beer)",
    "reporter": "julian.reschke@gmx.de",
    "cc": "",
    "resolution": "fixed",
    "time": "2010-10-25T13:45:32",
    "component": "content-disp",
    "summary": "\"modification-date\" *is* implemented in Konq 4.5",
    "priority": "normal",
    "keywords": "",
    "milestone": "unassigned",
    "owner": "julian.reschke@gmx.de",
    "type": "editorial",
    "severity": "Candidate WG Document"
}
```
